body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #2c3e50;
    margin-top: 20px;
}

p {
    color: #34495e;
    margin-bottom: 30px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #2980b9;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #db4437;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.google-btn img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.google-btn span {
    font-size: 16px;
}

.hospital-logo img {
    width: 100px;
    height: auto;
}
